@font-face {
	font-family: 'proxima-regular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima-bold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gibeon';
	src: url('../assets/fonts/gibeon-extralightse-webfont.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-medium';
	src: url('../assets/fonts/Satoshi/Satoshi-Medium.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-bold';
	src: url('../assets/fonts/Satoshi/Satoshi-Bold.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-regular';
	src: url('../assets/fonts/Satoshi/Satoshi-Regular.woff') format('woff')
}

@font-face {
	font-family: 'arlita';
	src: url('../assets/fonts/Arlita.woff') format('woff')
}

:root {
    --blue: #302D42;
    --sand: #FFFAEE;
    --red: #F6002F;
    --beige: #BAB5AB;
}
  
body {
    font-family: 'satoshi-regular', Helvetica, Arial, sans-serif;
    color: var(--sand);
    background: var(--sand);
}

hr {
    border: 0.5px solid var(--blue);
    width: 60%;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

a.links, a.links:visited, a.links:hover, a.links:active, a.links:link {
	font-size: 16px;
	text-decoration: none;
	color: var(--red);
	border-bottom: 1px solid var(--red);
}

.text-header {
    font-family: 'arlita', Helvetica, Arial, sans-serif;
    color: var(--blue);
    text-align: left;
    font-size: 48px;
	margin: 10px;
	margin-left: 0;
	width: 100%;
}

.gibeon {
	font-family: 'gibeon', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.proxima {
	font-family: 'proxima-regular', Arial, Helvetica, sans-serif;
}

  .no-margin {
	margin: 0;
  }

  .bottom-margin {
	margin-bottom: 15px;
  }

  .full {
	width: 100%;
  }

  .half {
	width: 30%;
  }

  .bold {
	font-family: 'proxima-bold', Arial, Helvetica, sans-serif;
  }

  .quarter {
	width: 75%;
  }

  .blue {
	color: var(--blue);
  }