@font-face {
	font-family: 'proxima-regular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima-bold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gibeon';
	src: url('../assets/fonts/gibeon-extralightse-webfont.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-medium';
	src: url('../assets/fonts/Satoshi/Satoshi-Medium.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-bold';
	src: url('../assets/fonts/Satoshi/Satoshi-Bold.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-regular';
	src: url('../assets/fonts/Satoshi/Satoshi-Regular.woff') format('woff')
}

@font-face {
	font-family: 'satoshi-light';
	src: url('../assets/fonts/Satoshi/Satoshi-Light.woff') format('woff')
}

@font-face {
	font-family: 'arlita';
	src: url('../assets/fonts/Arlita.woff') format('woff')
}

:root {
    --blue: #302D42;
    --sand: #FFFAEE;
    --red: #F6002F;
    --beige: #F8F1E1;
}
  
body {
    color: var(--sand);
    background: var(--sand);
	font-family: 'satoshi-medium', Arial, Helvetica, sans-serif;
}

hr {
    border: 0.5px solid var(--blue);
    width: 60%;
    box-shadow: none;
}

a.links, a.links:visited, a.links:hover, a.links:active, a.links:link {
	font-size: 16px;
	text-decoration: none;
	color: var(--red);
	border-bottom: 1px solid var(--red);
}

.text-title {
	font-family: 'satoshi-bold', Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 20px;
  }
  
  .text-container {
	color: var(--blue);
	width: 50%;
  }  

  .spotted-container {
	width: 60%;
	border-color: var(--red);
	border-radius: 5px;
	border-style: dotted;
	border-width: 3px;
	padding: 50px;
	text-align: center;
  }

  button {
	text-decoration: none;
	box-shadow: none;
	background-color: var(--red);
	border: none;
	color: var(--sand);
	font-family: 'satoshi-bold', Arial, Helvetica, sans-serif;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	margin-top: 20px;
	transition: all 0.2s linear;
  }

  button:hover {
	transform: scale(0.98);
  }

  .text-paragraph {
	margin:0;
	margin-top: 10px;
  }

.text-header {
    font-family: 'arlita', Helvetica, Arial, sans-serif;
    color: var(--blue);
    text-align: left;
    font-size: 48px;
	margin: 10px;
	margin-left: 0;
	line-height: 48px;
}

.gibeon {
	font-family: 'gibeon', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.proxima {
	font-family: 'proxima-regular', Arial, Helvetica, sans-serif;
}

  .no-margin {
	margin: 0;
  }

  .padding-top {
	padding-top: 0;
  }
  
  .margin-right {
	margin-right: 35px;
  }

  .bottom-margin {
	margin-bottom: 15px;
  }

  .top-margin {
	margin-top: 25px;
  }

  .full {
	width: 100%;
  }

  .half {
	width: 48%;
  }

  .bold {
	font-family: 'satoshi-bold', Arial, Helvetica, sans-serif;
  }

  .quarter {
	width: 75%;
  }

  .blue {
	color: var(--blue);
  }

  .sand {
	color: var(--sand);
  }

  @media only screen and (max-width: 82em){
	.text-container {
		width: 60%;
	}

	.quarter {
		width: 100%;
	}
}
@media only screen and (max-width: 62em) {
	.text-container {
		width: 80%;
	}
  }