@import './Constants.css';

html, body {
    position: relative;
    overflow-x:hidden;
}

.blue-text {
    color: var(--blue);
}

.red-text {
    color: var(--red);
}

.star-text {
    font-size: 32px;
}

h1 {
    color: var(--beige);
    font-weight: 400;
    font-size: 3rem;
    line-height: 130%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    overflow-x: hidden;
}

.hero-text {
    display: flex;
    justify-content: center;
}

.hero-name {
    font-family: 'gibeon', Helvetica, Arial, sans-serif;
    font-size: 5rem;
    color: var(--blue);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media only screen and (max-width: 1024px) {
    h1 {
       font-size: 2.5rem; 
    }

    .hero-name {
        justify-content: left;
    }
}