@import './Constants.css';

body {
    color: var(--blue);
}

.red {
    color: var(--red);
}

.text-title {
  font-family: 'satoshi-bold' Arial, Helvetica, sans-serif;
}

.text-container {
  color: var(--blue);
}

.btn-text, .back-container {
  margin:0;
  color: var(--blue);
}

.btn-text {
  text-decoration: none;
}

.back-img {
  width: 15px;
  margin-right: 10px;
}
.back-container {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 14px;
}

.img-wrap {
    margin: 0 auto;
    position: relative;
    width: 90%;
    padding-top: 30%;
    overflow: hidden;
    max-height: 50%;
    border-radius: 5px;
    vertical-align: bottom;
    margin-bottom: 20px;
  }

  .project-img {
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    transition: all 0.2s linear;
  }

  .main-block {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 5px;
  }

  .design-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 auto;
  }

  .project-info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .project-header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
  }

  .project-label {
    font-size: 16px;
    color: var(--blue);
    width: 45%;
  }

  .info-label {
    font-size: 16px;
    color: var(--blue);
    max-width: 24%;
  }

  .info-title {
    margin: 0;
    margin-bottom: 10px;
  }

  .info-desc {
    font-family: 'satoshi-bold';
    margin: 0;
    margin-bottom: 5px;
  }

  .text-desc {
    font-family: 'satoshi-bold';
    margin: 0;
  }

  .work-info {
    display: flex;  
    flex-direction: column; 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .work-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }

  .small-header {
    font-size: 32px;
    font-family: 'gibeon', Helvetica, Arial, sans-serif;
    color: var(--blue);
    width: 100%;
    margin: 0;
  }

  .subtitle {
    font-size: 28px;
    font-family: 'gibeon', Helvetica, Arial, sans-serif;
    color: var(--blue);
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .task-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
  }

  .task-item {
    display: flex;
    flex-flow: column;
    max-width: 20%;
  }

  .task-number-container {
    display: flex;
    background-color: var(--red);
    border-radius: 3px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
  }

  .bottom-margin {
    margin-bottom: 30px;
  }

  .left-margin {
    margin-left: 30px;
  }

  .task-number {
    margin: 0;
    color: var(--sand);
  }

  .project-desc {
    margin: 0;
    margin-top: 10px;
    align-items: flex-start;
  }

  .container-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
  }

  .container-row-no-flex {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
  }

  .work-wrapper {
    width: 85%;
  }

@media only screen and (max-width: 1024px) {
    .main-container, .work-wrapper, .back-container {
      width: 95%;
    }

    .project-info, .project-header, .container-row {
        flex-flow: column;
    }
    
    .task-container, .project-info {
        flex-flow: wrap;
    }

    .task-item {
        margin-bottom: 20px;
        max-width: 40%;
    }

    .project-label, .img-wrap{
        width: 100%;
    }

    .info-label {
        font-size: 14px;
        margin-bottom: 25px; 
        width: 50%;
        max-width: 50%;
    }

    .img-wrap, .mobile-short {
        padding-top: 40%;
    }

    .mobile-long {
        padding-top: 30%;
    }

    .subtitle {
        font-size: 24px;
    }
  }