@import '../../Constants.css';

.main {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: var(--sand);
    flex-flow: column;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 1vw;
    margin-top: 15px;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
}