@import '../Constants.css';

.tag {
    border-radius: 3px;
    border: none;
    font-family: 'satoshi-bold', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--blue);
    text-decoration: none;
    margin-right: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-size: 10px;
    padding: 5px 12px 5px 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.brand-identity {
    background: #8BFF89;
}

.ui\/ux {
    background: #FFCA7A;
}

.marketing {
    background: #FFACF7;
}

.web {
    background: #2EFFFF;
}

.misc\. {
    background: #BB86FF;
}